<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%= link_to "All", recipes_path %></li>
  <li role="presentation" class="dropdown">
   <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
     Diets <span class="caret"></span>
   </a>
   <ul class="dropdown-menu">
  <% @diets.each do |diet| %>
  <li><%= link_to diet.name, recipes_path(diet_id: diet.id)%></li>
  <% end %>
  </ul>
  </li>
  <li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Nationalities <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
  <% @nationalities.each do |nationality| %>
  <li><%= link_to nationality.country, recipes_path(nationality_id: nationality.id)%></li>
  <% end %>
</ul>
</li>
</ul>


<div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= recipe.title%>
      </div>
      <div class="panel-body">
      by <%= link_to recipe.user.username, user_posts_path(id: recipe.user.id) %>
      <p>Posted at: <span class="posted-at"><%= recipe.created_at.strftime ('%m/%d/%Y at %l:%M%p') %></span></p>
    <p>Servings: <%= recipe.servings %></p>
            <p>Calories: <%= recipe.calories %></p>
            <p>Ingredients: <%= recipe.ingredients %></p>

            <p><%= recipe.instructions[0..150] %>...<%= link_to "Read More", recipe %></p>
      </div>

      <%= image_tag recipe.avatar.url(:medium), class: "img-responsive" %>

   <% if current_user.id == recipe.user.id %>
        <div class="panel-footer">
        <%= link_to 'Edit', edit_recipe_path(recipe), class: "btn btn-warning" %>
        <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
