<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %>
</p>

<p>
  <strong>Servings:</strong>
  <%= @recipe.servings %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @recipe.calories %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>
<p>
<%= image_tag @recipe.avatar.url(:medium) %>
</p>

<div>
  <%= render 'comments/form' %>
</div>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>

<h4>Comments</h4>
<% @recipe.comments.each do |comment| %>
<p><strong><%= comment.author %></strong>said: </p>
<p><%= comment.comment_entry %></p>
<% end %>
